<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" -->
    <!-- crossorigin="anonymous"> -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Data gatherer</title>
</head>

<body>
    <div id="mainframe">
        <div id="header">
            <div class="head-item">
                <img id="logo" src="./images/icon.png" alt="">
            </div>
            <% if (user) { %>
            <div class="head-item pull-right"><a href="/profile" class="btn btn-default">
                    <%= user.name %></a></div>
            <div class="head-item"><a href="/logout" class="btn btn-default">Kijelentkezés</a></div>
            <% } else { %>
            <div class="head-item pull-right"><a href="/login" class="btn btn-default">Belépés</a></div>
            <div class="head-item"><a href="/signup" class="btn btn-default">Regisztráció</a></div>
            <% } %>
            <div class="head-item">Adatvédelem</div>
        </div>
        <div id="content">
            <div class="content-item">
                <div style="position: relative;">
                    <img style="width: 100%;" src="./images/primary.jpg" alt="">
                    <p class="text">Tudd meg minek tartottak a suliban!</p>
                </div>
            </div>
            <div class="content-item">
                <div style="position: relative;">
                    <img style="width: 100%;" src="./images/smarter.jpg" alt="">
                    <p class="text">Okosabb vagy mint egy ötödikes?</p>
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>